In [2]:
import pandas as pd

In [4]:
dataset = pd.read_csv("forestfires1.csv",index_col=0)

In [6]:
dataset[0:2]

   Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
X
7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

In [8]:
area_dataset= dataset[dataset["area"] > 0]

area_dataset

    Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
X
9   9   jul  tue  85.8   48.3  313.4   3.9  18.0  42   2.7   0.0   0.36
1   4   sep  tue  91.0  129.5  692.6   7.0  21.7  38   2.2   0.0   0.43
2   5   sep  mon  90.9  126.5  686.5   7.0  21.9  39   1.8   0.0   0.47
1   2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0   0.55
8   6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
.. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
5   4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
6   5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0   0.43
4   3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
2   4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
7   4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16

[270 rows x 12 columns]

In [10]:
area_dataset["area"].mean()

24.60018518518518

In [12]:
area_dataset["area"].min()

0.09

In [14]:
area_dataset["area"].max()

1090.84

In [16]:
area_dataset["area"].std()

86.50163460412125

In [18]:
area_dataset.sort_values(by=["area"]).tail(20)

   Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
X
6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0    61.13
4  6   sep  sun  93.5  149.3  728.6   8.1  28.3  26   3.1   0.0    64.10
9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0    70.32
1  3   sep  sun  91.0  276.3  825.1   7.1  21.9  43   4.0   0.0    70.76
8  6   aug  sat  92.2   81.8  480.8  11.9  16.4  43   4.0   0.0    71.30
1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0    82.75
7  6   jul  tue  93.1  180.4  430.8  11.0  26.9  28   5.4   0.0    86.45
4  4   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0    88.49
1  5   sep  sun  93.5  149.3  728.6   8.1  27.8  27   3.1   0.0    95.18
6  4   sep  tue  91.0  129.5  692.6   7.0  18.7  43   2.7   0.0   103.39
9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66
4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84

In [20]:
area_dataset["area"].median()

6.37

In [22]:
months = dataset["month"].unique()

months

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [24]:
dataset[dataset["month"] == "mar"].shape[0]

54

In [25]:
# iterate over the months list
# get number of forest fires for each month
# get mean temperature for each month
# print out number of fires and mean temperature
for month in months:
    month_dataset = dataset[dataset["month"] == month]
    fires_in_month = month_dataset.shape[0]
    avg_tmp_in_month = int(month_dataset["temp"].mean())
    
    print(str(fires_in_month) + " fires in " + month + " with a mean temperature of ~" + str(avg_tmp_in_month) + "°C")

54 fires in mar with a mean temperature of ~13°C
15 fires in oct with a mean temperature of ~17°C
184 fires in aug with a mean temperature of ~21°C
172 fires in sep with a mean temperature of ~19°C
9 fires in apr with a mean temperature of ~12°C
17 fires in jun with a mean temperature of ~20°C
32 fires in jul with a mean temperature of ~22°C
20 fires in feb with a mean temperature of ~9°C
2 fires in jan with a mean temperature of ~5°C
9 fires in dec with a mean temperature of ~4°C
2 fires in may with a mean temperature of ~14°C
1 fires in nov with a mean temperature of ~11°C